<!-- This page will likely not be used.  Instead Poll-taker will have the option to edit his questions on the index page. -->

<div class="hero-unit">
	<header>
		<p>Edit your questions!</p>
</header>
	<%= render 'questions/form' %>
</div>