<div class="center hero-unit">
	<header>
	</header>
	<div class="monster">
	  <%= image_tag("cookie_monster", :alt => "monster") %>
	</div>
	<p>What is your poll about?</p>
	<%= render 'polls/form' %>
</div>